<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandsOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>200D83C51FF302F80009F414</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200D83D91FF302F80009F414</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200D83E41FF302F80009F414</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
